doctype html
html
    block vars
    head
        meta(charset='utf8')
        title #{title} | 破滅派 | オンライン文芸誌
        meta(name="viewport", content="width=device-width,initial-scale=1")
        link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
        link(rel='stylesheet' href='./css/app.css')
        <!-- Google tag (gtag.js) -->
        script(async, src="https://www.googletagmanager.com/gtag/js?id=G-GX6ZTNEEW8")
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            var config = {
                    link_attribution: true,
                    page_type: "error"
            };
            gtag('config', 'G-GX6ZTNEEW8', config );
    body

        header
            .container
                h1
                    img(src="./img/hametuha-logo.png", alt="破滅派")
                p ご迷惑をお掛けして申し訳ございません。
        .main
            .container
                block content
                .global
                    h3.global-title このページについて
                    p.global-desc
                        | このページはWebサイト破滅派でエラーが発生したときに表示されます。
                        | 時間が経っても解決しない場合は気づいていない可能性がありますので、
                        | 緊急の時はお気軽にお問い合わせください。
                    ul.global-contacts
                      li.global-contacts__item
                        a.global-contacts__link(href='https://hametuha.co.jp/contact', target="_blank", rel="noopener noreferrer") 株式会社破滅派
                      li.global-contacts__item
                        a.global-contacts__link(href='https://x.com/hametuha') X（旧twitter）
                      li.global-contacts__item
                        a.global-contacts__link(href='https://www.facebook.com/hametuha.inc') facebook

        footer
            .container
                p &copy; 2007 Hametuha

