extends _layout

block vars
    - var title = 'エラー';

block content
  .error.error-captcha
    h2.error-title 認証が必要です
    p.error-description 人間であることを証明するために、reCaptchaを解いてください。

  .captcha-block ::CAPTCHA_BOX::
