extends _layout

block vars
    - var title = 'エラー';

block content
    .error.text-center
        h2.error-title エラーが発生しました
        p.error-description
          | 申し訳ございません。
          br
          | 現在、このサイトはご利用できません。
          br
          | 現在復旧作業中ですので、もうしばらくお待ちください。
