extends _layout

block vars
    - var title = 'エラー';

block content
  .error
    h2.error-title エラーが発生しました
    p.error-description
      | 現在、何らかの原因により破滅派のサーバーが動作していません。
      | 復旧作業を行っていますので、いましばらくお待ち下さい。

    .error-block ::CLOUDFLARE_ERROR_500S_BOX::
