extends _layout

block vars
    - var title = 'エラー';

block content
  .error
    h2.error-title ブラウザをチェックしています……
    p.error-description
      | 現在、破滅派はボットによる襲撃を受けています。
      | あなたがボットでないことを確認してからサイトを表示します。
      | この確認は自動で行われます。
    .online-block ::IM_UNDER_ATTACK_BOX::
