extends _layout

block vars
    - var title = 'ブロックされています';

block content
  .error
    h2.error-title ブロック中
    p.error-description あなたは、次の理由によりブロックされています。
    ol
      li セキュリティソフトが違反を検知した。
      li ファイヤーウォールでブロックされている。
       li 許可されていないIPアドレスからアクセスしている。
